$primary-font: "Montserrat", sans-serif;

footer {
    background-color: black;
    color: #FFF;
    display: flex;
    flex-direction: column;
    height: 209px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 50px;


    &__logo {
        padding-top: 30px;
        width: 122px;
        height: 39.5px;
    }

    &__copyright {
        padding-top: 40px;
        font-family: $primary-font;
        font-size: 1.5em;
    }
}