$primary-font: "Montserrat", sans-serif;
$primary: #ff6060;

.avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

    @media (max-width: 450px) {
        gap: 10px;
        margin: 0;
    }

    &__title {
        font-family: $primary-font;
        font-size: 1rem;
        font-weight: 500;
        color: $primary;

        @media (max-width: 450px) {
            font-size: 0.8rem;
            text-align: right;
            max-width: 70px;
        }
    }

    &__img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;

        @media (max-width: 450px) {
            width: 32px;
            height: 32px;
        }
    }
}