$primary-font: "Montserrat", sans-serif;
$primary: #ff6060;

.rating {
    color: $primary;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 10px
}