$primary-font: "Montserrat", sans-serif;
$primary: #ff6060;

.rating {
    color: $primary;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 8px 10px;

    &__star {
        width: 2rem;
        height: 2rem;

        &--off {
            color: #E3E3E3;
        }
    }

}