$primary-font: "Montserrat", sans-serif;
$primary: #ff6060;

.not-found-container {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $primary-font;
    gap: 80px;

    @media (max-width: 450px) {
        gap: 100px;
        margin: 100px 0 100px 0;
    }

    h2 {

        color: #ff6060;
        font-size: 10rem;
        font-weight: bold;

        @media (max-width: 450px) {
            font-size: 5rem;
        }
    }

    span {
        color: $primary;
        font-size: 1.5rem;

        @media (max-width: 450px) {
            font-size: 1.2rem;
            text-align: center;
            max-width: 260px;
            height: 52px;
        }
    }

    .navBar__link {
        text-decoration: underline;
        font-size: 1.1rem;

        @media (max-width: 450px) {
            font-size: 0.8rem;
        }
    }
}