.galerie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    margin-top: 20px;
    padding: 25px;
    gap: 50px;
    border-radius: 20px;
}